body {
    width:300px;
    height:550px;
    background:#1c1c1c;
    margin: 0;
    color: #D9D9D9;
    font-family: 'Inter';
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

#container {
    width: 100%;
    height: 100%;
}

#header {
    width:300px;
    height:80px;
    box-shadow:0px 4px 5px black;
    position:absolute;
    top:0;
}

#title {
    font-size: 32px;
    padding-left: 35px;
    box-sizing: border-box;
    position: relative;
}

#panel-main {
    width: 280px;
    height: 450px;
    position: absolute;
    top: 85px;
    left: 10px;
    right: 10px;
}

.panel {
    width: 255px;
    height: 80px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.stacked-panels {
    display: inline-block;
}

.panel-medium {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #3b9993;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #276972;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.panel-small {
    width: 120px;
    height: 50px;
    background: #3ea284;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #277260;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#accent {
    width: 50px;
    height: 40px;
    border-radius: 6px;
    background: #002a3d;
    box-shadow: 3px 3px 0px #003646;
    position: absolute;
    top: 20px;
    right: 30px;
}

#panel-1 {
    background: #002a3d;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #003646;
}

#panel-2 {
    background: #004d5e;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #006577;
}

#panel-3 {
    background: #2d7e90;
    box-shadow: 5px 5px 20px black, 5px 5px 0px #4b98ab;
}

.top-left-brand {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
}

.bottom-right-count {
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 14px;
}