body {
    width:300px;
    height: 560px;
    background:#1c1c1c;
    margin: 0;
    color: #D9D9D9;
    font-family: 'Inter';
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#header {
    width:300px;
    height:80px;
    box-shadow:0px 4px 5px black;
    position:absolute;
    top:0;
}

#title {
    font-size: 32px;
    padding-left: 85px;
    box-sizing: border-box;
    position: relative;
}

#points {
    position: absolute;
    top: 525px;
    right: 20px;
}

#points-text {
    font-size: 12px;
}

#button-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

#settings img {
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#readme img {
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #a5a5a5;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black; 
    transition-duration: 0.3s;
    position: relative;
}

.new-button:hover {
    background: white;
    box-shadow: 1px 1px 2px #6d6d6d;
    transition-duration: 0.3s;
}

#panel-main {
    width: 280px;
    height: 450px;
    position: absolute;
    top: 85px;
    left: 10px;
    right: 10px;
}

.panel {
    width: 255px;
    height: 80px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.stacked-panels {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.panel-medium {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #3b9993;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #276972;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;
}

.panel-small {
    width: 120px;
    height: 50px;
    background: #3ea284;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #277260;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;
}

#accent {
    width: 40px;
    height: 33px;
    border-radius: 6px;
    background: #002a3d;
    box-shadow: 4px 4px 0px #003646, 7px 7px 0px #277260, 9px 9px 0px #64ffbe;
    position: absolute;
    top: 20px;
    left: 20px;
}

#panel-1 {
    background: #002a3d;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #003646;
}

#panel-2 {
    background: #004d5e;
    box-shadow: 5px 5px 15px black, 5px 5px 0px #006577;
}

#panel-3 {
    background: #2d7e90;
    box-shadow: 5px 5px 20px black, 5px 5px 0px #4b98ab;
}

.top-left-brand {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
}

.bottom-right-count {
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 14px;
}

.panel-text {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 0;
    margin: auto;
}

/* Start of settings CSS */

#settings-header-text {
    text-align:center;
}

#settings-header {
    width: auto;
    height: 50px;
    line-height:50px;
    background: #002a3d;
    border-radius:6px;
}

#panel-secondary {
    background:#004d5e;
    min-height:90%;
    border-radius:6px;
    margin-top:15px;
    width: 100%;
    padding-top:2px;
}

.settings-panel {
    background:#2d7e90;
    width:90%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    border-radius:6px;
    height:55px;
    line-height:55px;
    box-sizing: border-box;
    text-align:center;
}
#long-setting-text {
    line-height:28px;
}

.setting-text {
    padding-left:10px;
    font-size:12px;
    width:70%;

}

.setting-checkbox {
    float:right;
    margin-right: 5px;
    padding-right:20px;
    box-sizing:border-box;
    padding-bottom:15px;

}

#pop-up-duration {
    float: right;
    width: 70px;
    margin-top: 19px;
    margin-right: 25px;
}

#time-limit {
    float: right;
    width: 70px;
    margin-top: 19px;
    margin-right: 25px;
}

#quantity-limit {
    float: right;
    width: 70px;
    margin-top: 19px;
    margin-right: 25px;
}

#submission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;

}
#submit-button {
    float:center;
    
}

#home img {
    width: 16px;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo {
    float:left;
}